# Ignore the environment files
.env

# Ignore IDE and OS-specific files
.idea/
.vscode/
*.log

# Ignore the vendor directory
/application/vendor/

# Ignore the system directory
/system/

# Ignore other unnecessary files
*.bak
*.swp
